<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Teko|Fredericka+the+Great|Lobster" rel="stylesheet">

<style>

body {
    color: red;
    font-family: 'Fredericka the Great';
    font-size: 40px;
    margin-bottom: 0px;
    background-color: black;
    background-repeat: no-repeat;
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/eb/e5/0f/ebe50f7fb8b033f994a786643034be8a.gif");
    background-size: contain;
}

#home_form {
  font-size: 25px;
}

</style>

<body>
  <div class="container-fluid text-center">

<h1>BookmarkManager allows you to store your links in an intuitive way!</h1>
<h2>Log in</h2>
<form action="/home" method="post" id="home_form" >
    <label for="user">
      email:
    <input type="text" name="user">
  </label>
  <label for="password">
      password:
  <input type="text" name="password">
</label>
    <input type="submit" value="Log in">
</form>
<a href="/join">
  <button type="button" class="btn btn-primary">Sign up</button>
</a>
</div>
</body>
