<h1> New Link </h1>


<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <%= yield %>  
    <form action='/links' method='POST'>
      <label for='title'>
        Title:
        <input type='text' name='title' />
      </label>
      <label for='url'>
        URL:
        <input type='text' name='url' />
      </label>
      <label for='tags'>
        Tags:
        <input type='text' name='tag' />
      </label>
      <input type='submit' value='Create link' />

    </form>
  </body>
</html>
